@model InternetBankingApp.Core.Application.ViewModels.User.RegisterViewModel;
@{
    ViewData["Title"] = "CreateUser";
    
}

<h1>CreateUser</h1>

<section>
     <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Make Post</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Make Post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <form asp-controller="Administrator" class="create" asp-action="CreateUser" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="FirstName" class="col-form-label">Fist Name:</label>
                            <input type="text" asp-for="FirstName" class="mt-3 form-control">

                        </div>

                        <div class="mb-3">
                            <label asp-for="LastName" class="col-form-label">Last Name:</label>
                            <input type="text"  asp-for="LastName" class="mt-3 form-control">
                         
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="col-form-label">Email:</label>
                            <input type="text"  asp-for="Email" class="mt-3 form-control">

                        </div>

                         <div class="mb-3">
                            <label asp-for="IdentificationCard" class="col-form-label">Identification Card:</label>
                            <input type="text"  asp-for="IdentificationCard" class="mt-3 form-control">

                        </div>

                        

                        <div class="mb-3">
                            <label asp-for="UserName" class="col-form-label">User Name:</label>
                            <input type="text"  asp-for="UserName" class="mt-3 form-control">

                        </div>

                         <div class="mb-3">
                            <label asp-for="TypeOfUser" class="col-form-label ">Type Of User:</label>

                            <select asp-for="TypeOfUser" class="form-control selectUser">
                                <option disabled>--Select--</option>

                                <option value="Admin">Admin</option>

                                <option value="Customer">Customer</option>
                            </select>

                        </div>

                        <div class="mb-3 initialAmountField" style="display: none;">
                            <label asp-for="StartAmount" class="col-form-label">Start Amount:</label>
                            <input type="number" asp-for="StartAmount" class="mt-3 form-control">

                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="col-form-label">Password:</label>
                            <input type="text"  asp-for="Password" class="mt-3 form-control">

                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirnPassword" class="col-form-label">Confirn Password:</label>
                            <input type="text"  asp-for="ConfirnPassword" class="mt-3 form-control">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Post</button>

                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    </div>


                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    var selectValue = document.querySelector('.selectUser');
    var starAmounntField = document.querySelector('.initialAmountField');


    selectValue.addEventListener('change', () => {
        console.log(selectValue.value)
        if (selectValue.value == 'Customer') {
            starAmounntField.style.display = 'block'
        }
        else {
            starAmounntField.style.display = 'none'
        }
    })
    
</script>