
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usersActive = @ViewBag.UserActive;
    var usersInactive = @ViewBag.UserInactive;
}


<div class="main--content">

    <div class="tabular">
        <div class="card-container">
            <div class="card--wrapper">
                <div class="card--seguidores" style="background: #0077b6">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Active User</span>
                            <div class="followers-count">@usersActive</div>
                        </div>
                        <i class="fa-solid fa-check icon"></i>
                    </div>
                </div>
                <div class="card--seguidores" style="background: #023e8a">
                    <div class="card--header">
                        <div class="amount--seguidores">
                            <span class="title">Inactive User</span>
                            <div class="followers-count">@usersInactive</div>
                        </div>
                        <i class="fa-solid fa-xmark icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>