
@{
    ViewData["Title"] = "UsersManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UsersManagement</h1>

@* @await Html.PartialAsync("CreateUser", new InternetBankingApp.Core.Application.ViewModels.User.RegisterViewModel()) *@