@using InternetBankingApp.Core.Application.ViewModels.User

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<body>
    <section>
        <div class="row mt-5 pt-5">
            <div class="col-12 col-sm-4 col-md-4 m-auto">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @if (Model != null)
                        {
                            @if (Model.HasError)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <p>@Model.Error</p>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        }
                        <div class="text-center">
                            <h4><i class="fa-solid fa-piggy-bank"></i></h4>
                        </div>

                        <form method="post" asp-controller="User" asp-action="Login">
                            <div class="mb-2">
                                <input asp-for="Email" class="form-control" placeholder="Email" />
                            </div>
                            <div class="mb-2">
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                            </div>
                            <div class="d-grid gap-2 ">
                                <button class="btn text-white fw-bold" style="background-color:#0866ff">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>