@model InternetBankingApp.Core.Application.ViewModels.Beneficiario.SaveBeneficiarioViewModel;
@inject IHttpContextAccessor httpContext;
@using InternetBankingApp.Core.Application.Dtos.Account
@using Microsoft.AspNetCore.Http
@using InternetBankingApp.Core.Application.Helpers;
@{
    ViewData["Title"] = "AddBeneficiary";

    var user = httpContext.HttpContext.Session.get<AuthenticationResponse>
    ("User");
}

<section>
    <button type="button" class="btn mt-3 text-white" style="background: #023e8a" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="mdo">Add Beneficiary</button>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Make Post</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">
                    <form asp-controller="Customer" class="create" asp-action="AddBeneficiary" method="post" enctype="multipart/form-data">

                        <div class="mb-3">
                            <label asp-for="CuentaIdentifier" class="col-form-label">Account:</label>
                            <input type="text" asp-for="CuentaIdentifier" class="mt-3 form-control">
                            <span asp-validation-for="CuentaIdentifier"></span>
                        </div>

                        <input type="hidden" asp-for="Name" value="@user.UserName"/>

                        <input type="hidden" name="userId" value="@user.Id" />
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>

                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Post</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    </div>


                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>