@model string;
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";


}


<div class="row">
    <div class="container">
        <div class="justify-content-center">
            <div class="col-4 offset-4 mt-5">
                <div class="card-header text-white text-center" style="background: #023e8a">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <div class="card-body">
                    <form asp-controller="Customer" asp-action="AddCuentaPrestamo" class="form" method="post">

                        <div class="mb-3">
                            <select name="" id="" class="select-productos form-select">
                                <option value="1">Cuenta de Ahorro</option>
                                <option value="2">Tarjeta de credito</option>
                                <option value="3" selected="selected">Prestamo</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" name="Balance" placeholder="$$$" />
                        </div>

                        <input type="hidden" name="userId" value="@Model" />
                        <div class="d-flex justify-content align-content flex-sm-row-reverse"  style="gap:20px;">

                            <button type="submit" class="btn text-white justify-content-end float-end" style="background: #023e8a">Create</button>
                        </div>
      
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const selecProductos = document.querySelector('.select-productos')
    const pruebaContro = document.querySelector('.form')
  
    console.log(pruebaContro)

    selecProductos.addEventListener('change', () => {
        if (selecProductos.value == 1) {
            console.log(selecProductos.value)
            pruebaContro.action = '/Customer/AddCuentaAhorro'
            console.log(pruebaContro.action)
        }
        else if (selecProductos.value == 2) {
            pruebaContro.action = '/Customer/AddTarjetaCredito'
            console.log(pruebaContro.action)
        }
        else if (selecProductos.value == 3) {
            pruebaContro.action = '/Customer/AddCuentaPrestamo'
            console.log(pruebaContro.action)
        }
    })

</script>
