
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<form  asp-controller="Customer" asp-action="">
    <select name="" id="" class="select-productos">
        <option value="1">Cuenta de Ahorro</option>
        <option value="2">Tarjeta de Credito</option>
        <option value="3">Prestamo</option>
    </select>

    <input type="text" placeholder="Prueba">
</form>

<script>
    const selecProductos = document.querySelector('.select-productos')

    selecProductos.addEventListener('change', () => {
        console.log(selecProductos.value)

        if(selecProductos.value == 1)
        {
            @ViewBag.tipoProducto = "Cuenta de Ahoroo"

            console.log(@ViewBag.tipoProducto)
        }

    })
</script>