@using InternetBankingApp.Core.Application.ViewModels.Products;
@using InternetBankingApp.Core.Application.Enums;


<div class="col-6 offset-3">
    <div class="card bg-danger">
        <div class="card-header bg-white text-dark">
            <h5>Are you sure that you want to delete this product?</h5>
        </div>
        <div class="card-body" style="background-color: #d3d3d3">
                <form method="post">
                    <button type="submit" class="btn btn-danger" asp-action="DeleteProduct" asp-controller="Customer" asp-route-identifier="@ViewBag.Identifier" asp-route-type="@ViewBag.Type">Delete</button>
                    <a asp-controller="Customer" asp-action="DeleteProduct" asp-route-userId="@ViewBag.Id" class="btn btn-secondary">Cancel</a>
                </form>
  
        </div>
    </div>
</div>